@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,600;1,900&display=swap");
@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

.app {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.home {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 6px;
  gap: 7px;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
}

.home-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.head-text {
  font-size: 6rem;
  line-height: 7rem;
  font-weight: 900;
  color: black;
}

.download-btn {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  cursor: pointer;
  outline: none;
}

.editortabs-container {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07);
  border: 2px solid transparent;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1px;
  padding: 0.75rem;
  gap: 4px;
}

.filtertabs-container {
  position: absolute;
  z-index: 10;
  bottom: 5px;
  right: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}

.aipicker-container {
  position: absolute;
  left: 100%;
  margin-left: 0.75rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07);
  padding: 0.75rem;
  width: 195px;
  height: 220px;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.aipicker-textarea {
  width: 100%;
  background: transparent;
  font-size: 0.875rem;
  border: 1px solid #ccc;
  padding: 0.5rem;
  outline: none;
  flex: 1;
}

.filepicker-container {
  position: absolute;
  left: 100%;
  margin-left: 0.75rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07);
  padding: 0.75rem;
  width: 195px;
  height: 220px;
  display: flex;
  flex-direction: column;
  border-radius: 0.375rem;
}

.filepicker-label {
  border: 1px solid #ccc;
  padding: 0.375rem 0.5rem;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  font-size: 0.75rem;
  color: #4a5568;
  outline: none;
  cursor: pointer;
  width: fit-content;
}

.tab-btn {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

input[type="file"] {
  z-index: -1;
  position: absolute;
  opacity: 0;
}

.sketch-picker {
  width: 170px !important;
  background: rgba(255, 255, 255, 0.25) !important;
  box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07) !important;
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
  border-radius: 6px !important;
}

.sketch-picker>div:nth-child(3) {
  display: none !important;
}

nav {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 10px 0;
}

nav a {
  font-size: 1.333em;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: blue;
}

#store {
  background-color: #ADD8E6;
}

#about {
  background-color: #90EE90;
}

#contact {
  background-color: #FFB6C1;
}

#faq {
  background-color: #FFFFE0;
}

section {
  min-height: 100vh;
  margin-left: 200px;
  padding: 2rem;
}
